.kitchen-page-main {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .h2 {
        margin: 1em 0;
    }

    .buttons-div {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2em;
    }

    .status-buttons {
        background-color: var(--green);
        color: var(--white);
    }

    .status-buttons:hover {
        background-color: rgb(32, 175, 111);
    }

    .pendent-orders,
    .preparing-orders {
        width: 95%;
        margin: 1em 0;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 2em;

        $tablet-width: 800px;
        $desktop-width: 1200px;
        $large-desktop-width: 1400px;
        @media screen and (min-width:#{$tablet-width}) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media screen and (min-width:#{$desktop-width}) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @media screen and (min-width:#{$large-desktop-width}) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}