.menu-main {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

    .h2 {
        margin-top: 1em;
    }
    
    .rows {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            width: 95%;
            flex-direction: row;
        }
     }

    .items-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$tablet-width}) {

        }
    }

    .burgers-container,
    .sidedishes-container,
    .drinks-container,
    .orders-container {
        margin: 2em 0;
        width: 90%;
        border-radius: 30px;
        border: 1px solid var(--black);
        padding-bottom: 1em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .orders-container {
        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            width: 60%;
        }
    }

    .burgers,
    .sidedishes,
    .drinks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        $tablet-width: 768px;
        @media screen and (min-width:#{$tablet-width}) {
            flex-direction: row;
            padding: 1em 0;
            justify-content: space-around;
        }
    }
    
    .options,
    .extra-options {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        width: 100%;

        $tablet-width: 768px;
        @media screen and (min-width:#{$tablet-width}) {
           flex-direction: row;
        }
    }

    .options {
        margin-bottom: 1em;
        width: 68%;
    }

    .burger,
    .sidedishe,
    .drink {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        border-radius: 30px;
        border: 1px solid var(--black);
        width: 218px;
        height: 170px;
        margin: 1em 0;

        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            width: 210px;
        }
    }

    .extras-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        margin: 2em 0;
    }

    .extras {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        width: 100%;
    }

    input[type="radio"]:checked+label {
        border: 3px solid var(--green);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    }


    .label {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        background-color: var(--white);
        font-weight: 600;
        font-size: 1rem;
        font-family: inherit;
        min-width: 200px;
        padding: 0.4em 2em;
        margin-top: 1em;
        cursor: pointer;
        border-radius: 100px;
        border: 1px solid var(--black);
        margin-bottom: -52px;
        z-index: 2;
    }

    .label.extra-items {
        width: 120px;
        margin-bottom: 0;

        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            width: 100px;
        }
    }

    .input-radio {
        position: absolute;
        visibility: hidden;
    }

    .client-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        margin-top: 1em;

        font-size: 1rem;
        font-weight: 700;
    }
    
    .orders {
        min-height: 25em;
        width: 95%;

        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            min-height: 57.5em;
        }
    }

    .separator {
        width: 80%;
        margin-top: 1em;
        border-top: 1px solid var(--black);
    }

    .items-cost-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item-price {
        font-size: 1.2em;
        font-weight: 500;
        list-style: none;
    }

    .menu-buttons-container {
        margin-bottom: 2em;
    }

}