
.menu-morning {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     .h2 {
         margin-top: 1em;
     }

     .columns {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$tablet-width}) {
            width: 95%;
            flex-direction: row;
        }
     }

     .items-section {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
    
    .drinks-container,
    .sandwiches-container,
    .orders-container { 
        margin: 2em 0;
        width: 90%;
        border-radius: 30px;
        border: 1px solid var(--black);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .orders-container {
        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            width: 40%;
        }
    }
 
    .drinks,
    .sandwiches {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            flex-direction: row;
            padding: 3em 0;
        }
    }

    .drinks {
        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            justify-content: space-around;
        }
    }

    .drink,
    .sandwich {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
        border-radius: 30px;
        border: 1px solid var(--black);
        width: 226px;
        height: 175px;
        margin: 0.5em 0 1em 0;

        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$desktop-width}) {
            
        }
    }

    .label {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        background-color: var(--white);
        font-weight: 600;
        font-size: 1rem;
        font-family: inherit;
        min-width: 212px;
        padding: 0.4em 2em;
        margin-top: 1em;
        cursor: pointer;
        border-radius: 100px;
        border: 1px solid var(--black);
        margin-bottom: -52px;
        z-index: 2;
    }

    .label.juice {
        margin-bottom: -30px;
    }

    .input-radio {
        position: absolute;
        visibility: hidden;
    }


    .orders {
        min-height: 15em;

        $tablet-width: 768px;
        $desktop-width: 1200px;
        @media screen and (min-width:#{$tablet-width}) {
            min-height: 43.5em;
        }
        @media screen and (min-width:#{$desktop-width}) {
            min-height: 30.5em;
        }
    }

    .separator {
        width: 80%;
        border-top: 1px solid var(--black);
    }

    .items-cost-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item-price {
        font-size: 1.2em;
        font-weight: 500;
    }

    .menu-buttons-container {
        margin-bottom: 2em;
    }

}