@import './global.scss';

.register-page {
   display: flex;
   align-items: stretch;
   flex-direction: column;
   height: 100vh;

   .register-page-header {
       height: 30vh;
       align-items: center;
       justify-content: center;
       position: relative;

       .responsive{
            max-width:90%;
            max-height:80%;
        }
     
        .center{
            position: absolute;
            top: 50%;
            left: 55%; 
            transform: translate(-50%, -50%);
        }
   }

   .register-page-main {
       background: var(--white);
       height: 70vh;
       border-top: 5px solid var(--black);
       border-radius: 30px 30px 0 0;

       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

       h2 { 
           margin-bottom: .5em;
           font-weight: 700;
           color: var(--black);
       }

       .form-group {
           display: flex;
           position: relative;
           margin-bottom: 1em;
       }

       .form-group label {
           position: absolute;
           font-size: .9rem;        
           top: 60%;
           left: 2%;
           transform: translateY(-50%);
           transition: .5s ease-out;
       }

       .form-group input { 
           font-family: inherit;
           display: block;
           width: 20em;
           padding: 10px 0;
           border: none;
           outline: none;
           background: none;
           border-bottom: 2px solid var(--black);
           transition: 0.4s ease-out;
       }

       .form-group input:focus {
        border-bottom-color: var(--red);
      }

       .form-group input:focus + label,
       .form-group input:valid + label {
         color: var(--red);
         font-size: .7rem;    
         top: 5%;
       }

    
       .input-select-container {
           margin-top: 1em;
       }

       .input-select-container label{
         top: 20%;
       }

       .input-select {
            width: 20em;
            margin: 1.9em 0;
            border: none;
            outline: none;
            border-bottom: 2px solid var(--black);
            background-color:  transparent;
            position: relative;
            font-family: inherit;
       }

       .register-btn-container { 
           justify-content: center;
       }

       button {
           display: flex;
           align-items: center;
           justify-content: center;
           font-weight: 600;
           font-size: 1rem;
           font-family: inherit;
           
           width: auto;
           padding: 0.4em 2em;
     
           border-radius: 100px;

           border: 2px solid var(--red);
           color: var(--red);
           background-color: var(--white);
           background-image: linear-gradient(to right, transparent 50%, #C64040 50%);
           background-size: 200%;
           transition: .5s ease-out;
       }
       
       button:hover {
        background-position: 100%;
        color: var(--black);
        border: 2px solid var(--black);
       }

       .already-a-user {
           font-size: .8rem;
           letter-spacing: .04rem;
           display: flex;
           align-items: center;
       }

       .link-container {
            margin-bottom: 1em;
       }

       .link {
           text-decoration: none;
           color: var(--darker-gray);
           font-size: .8rem;
           transition: 0.3s ease-out;
           
       }

       .link:hover {
         color: var(--black);
         border-bottom: 1px solid var(--black);
       }

   }



}